body{
    background-image: url("selection.svg");
    background-size: cover;
    background-repeat: no-repeat;
}
.container {
  
  text-align: center;
}

#row1 {
    padding-top: 200px;
}
.shrink img {
    transition: 1s ease;
    }
    
    .shrink img:hover{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: 1s ease;
    
    }
    
    


