
body {
  
  background-image: url('Mainpage.svg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}

 .b, .c, .d, .e {
    padding-top: 50px;
} 

.wrapper{
    margin-left: 20px;
    margin-top: 20px;
    position: fixed;
    transform: translate(-50%, -50%);
}

  a{
    margin-top: 20px;
    display: block;
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    color: black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 10px;
    letter-spacing: 2px;
    transition: all .25s;
    cursor: pointer;
    
    
    
  }
  
  
  a:hover{
   letter-spacing: 15px;
   color: black;
   border-top: 2px solid #FF66C4;
   border-bottom: 2px solid #FF66C4;
   border-right: 2px solid #FF66C4;
   border-left: 2px solid #FF66C4;
   border-radius: 10px;
   background-image: linear-gradient(45deg, #A0F6FE 0%, #FF66C4  51%, #A0F6FE 100%);
   font-weight: 700;

   

  }
  #nail {
    color: black;
    text-shadow: 6px 1px #A0F6FE;
    font-size: 200pt;
    font-family: didot;
  }
  
  #dujour {
    text-align: center;
    box-shadow: 2px 1px black;
    border-radius: 25px;
    text-shadow: 6px 1px black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 100px;
    background: -webkit-linear-gradient(#FF66C4, #A0F6FE,#FF66C4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }



/* input[type=text], input[type=password] {
  background-color:#A0F6FE;
  width: 100%;
  border-radius: 10px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #FF66C4;
  box-sizing: border-box;
} */


button {
    margin-bottom: 10px;
    display: block;
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    color: black;
    background-color: #EAED2B;
    border-left: #EAED2B;
    border-right: #EAED2B;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 10px;
    letter-spacing: 2px;
    transition: all .25s;
    cursor: pointer;
}

button:hover {
   letter-spacing: 15px;
   color: black;
   border-top: 2px solid #FF66C4;
   border-bottom: 2px solid #FF66C4;
   border-right: 2px solid #FF66C4;
   border-left: 2px solid #FF66C4;
   border-radius: 10px;
   background-image: linear-gradient(45deg, #A0F6FE 0%, #FF66C4  51%, #A0F6FE 100%);
   font-weight: 700;
}

